<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ASLtranslator</title>
        <link rel="stylesheet" href="{% static 'css/translator.css' %}" />
        <link rel="stylesheet" href="{% static 'css/page.css' %}" />
        <!-- <link rel="stylesheet" href="../../static/css/base.css" /> -->
    </head>

    <body>
        <div class="page">
            <div class="Title">
                <h1>ASLtranslator</h1>
            </div>

            <div class="Introduction">
                <p>
                    <a href="//en.wikipedia.org/wiki/American_Sign_Language" target="_blank">American Sign Language (ASL)</a>
                    is a natural language expressed by both manual and nonmanual features, which serves as the predominant sign language of deaf community in U.S. and Canada. ASL has a set of
                    <a href="https://en.wikipedia.org/wiki/American_manual_alphabet" target="_blank">American manual alphabet</a>
                    , containing 26 signs, which can be used to spell out words from the English language. <br />
                </p>
                <img src="%static 'images/American_manual_alphabet%" title="American_manual_alphabet" width="900" />
            </div>

            <div class="main">
                <h2>About our translator</h2>

                <h4>1. The Idea</h4>
                <p>lololol</p>

                <h4>2. Try it!</h4>
                <div class="container">
                    <h1>ASL to English Translator</h1>
                    <div class="container">
                        <p style="font-size: 25px;">Try the Live Feed!</p>
                        <a href="{% url 'livecam'%}">
                            <span class="link"></span>
                    </div>
                </div>

                <h4>3. Dataset description.</h4>
                <p>The model is trained based on the following <a href="https://www.kaggle.com/datasets/grassknoted/asl-alphabet" target="_blank">dataset</a></p>

                <h4>4. Github</h4>
                <p><a href="https://github.com/TheYibster/ASLtranslator" target="_blank">Our Github page</a></p>
            </div>
        </div>
    </body>
</html>
